# ignore .blast files
*.blast

# ignore drawio backup files
*.bkp

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
*azurite*

# macOS creates .DS_Store files in every directory. These files are used by the
# Finder to store custom attributes of a folder such as the position of icons,
# the choice of a background image, and the view options for the folder. They
# are not needed for your project and can be ignored.
.DS_Store


# Android Studio directories
.idea
.cxx